.places {
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    max-width: 984px;
    min-height: 3392px;
    gap: 80px;
}

@media screen and (max-width: 1024px) {
    .places {
        max-width: 928px;
        min-height: 3292px;
    }
}