.header {
    position: relative;
    display: flex;
    margin: 0 auto;
    max-width: 1184px;
    min-height: 52px;
    padding: 0;
    align-items: center;
    justify-content: flex-end;
}

/*@media screen and (max-width: 1024px) {
    .page {
        padding-left: 24px;
        padding-right: 24px;
    }
} 

@media screen and (max-width: 320px) {
    .page {
        padding-left: 16px;
        padding-right: 16px;
    }
}*/
