.footer__copyright {
    color: white;
    text-decoration: none;
    position: absolute;
    right: 0;
    bottom: 24px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    max-width: 186px;
}

@media screen and (max-width: 1024px) {
    .footer__copyright {
        right: 48px;
    }
} 

@media screen and (max-width: 768px) {
    .footer__copyright {
        right: 24px;
    }
} 