.intro {
    position: relative;
    left: -148px;
    margin: auto;
    margin-top: 92px;
    max-width: 690px;
    height: 429px;
}

@media screen and (max-width: 1024px) {
    .intro {
        left: -119px;
    }
}

@media screen and (max-width: 768px) {
    .intro {
        margin-top: 88px;
    }
}