.intro {
    position: relative;
    left: -148px;
    margin: auto;
    margin-top: 92px;
    max-width: 690px;
}

@media screen and (max-width: 1024px) {
    .intro {
        left: -119px;
    }
}

@media screen and (max-width: 768px) {
    .intro {
        max-width: 720px;
        margin-top: 88px;
        left: 0;
    }
}

@media screen and (max-width: 320px) {
    .intro {
        max-width: 288px;
        margin-top: 64px;
    }
}