.place__website {
    align-self: end;
    grid-area: website;
    max-width: 456px;
    min-height: 46px;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1024px) {
    .place__website {
        max-width: 456px;
    }
} 

@media screen and (max-width: 768px) {
    .place__website {
        max-width: 352px;
        min-height: 46px;
    }
} 
